{% extends 'base.html' %} <!-- показывает откуда наследуемся -->
{% load static %}
{% block title %}Список заказов{% endblock %}

{% block content %}

<div class="margin_search_bar">
    <form action="{% url 'order_url' %}" method="get">
        {% csrf_token %}
        <input class="custom-search-input" placeholder="Search" name="text" type="text">
        <input class="custom-search-button" type="submit" value="Submit">
    </form>
</div>


<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 equal-height-cards">
            {% for model in init_data.modeling %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="orders_price">price: {{ model.price }}</div>
                    <img src="{{ model.image_url }}" alt="{{ model.type }}" class="orders_card_img">
                    <div class="card-body">
                        <h5 class="card-title">{{ model.type }}</h5>
                        <div class="card-button">
                            <a href="{% url 'order_url' model.id %}" class="btn btn-primary">Подробнее</a>
                            <!-- url 'order_url' model.id - ссылка на отдельную страницу -->
                            <a href="#" class="btn btn-success">Добавить в корзину</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}